@mixin transition($time, $effect) {
  	-webkit-transition: all $time $effect;
	-o-transition: all $time $effect;
	transition: all $time $effect;
}

@mixin translate($x, $y){
		-webkit-transform: translate($x, $y);
		-ms-transform: translate($x, $y);
		transform: translate($x, $y);
}
 
@mixin paddingX($pad){
	padding-left: $pad !important;
	padding-right: $pad !important;
}

@mixin paddingY($pad){
	padding-top: $pad !important;
	padding-bottom: $pad !important;
}

@mixin border($px, $color){
	border: $px solid $color;

}