	/*
  	Flaticon icon font: Flaticon
  	Creation date: 12/09/2020 12:42
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 0;
}

.flaticon-premium-badge:before { content: "\f100"; }
.flaticon-laptop:before { content: "\f101"; }
.flaticon-businessman:before { content: "\f102"; }
.flaticon-facebook:before { content: "\f103"; }
.flaticon-twitter:before { content: "\f104"; }
.flaticon-pinterest:before { content: "\f105"; }
.flaticon-youtube-logotype:before { content: "\f106"; }
.flaticon-square-root-of-x-mathematical-signs:before { content: "\f107"; }
.flaticon-photo-camera:before { content: "\f108"; }
.flaticon-joomla-logo:before { content: "\f109"; }
.flaticon-graphic-progression:before { content: "\f10a"; }
.flaticon-target:before { content: "\f10b"; }
.flaticon-calendar:before { content: "\f10c"; }
.flaticon-internet:before { content: "\f10d"; }
.flaticon-graph-line-screen:before { content: "\f10e"; }
.flaticon-linked-in-logo-of-two-letters:before { content: "\f10f"; }
.flaticon-magnifiying-glass:before { content: "\f110"; }
.flaticon-google-plus-logo:before { content: "\f111"; }